@import "~@geoapify/geocoder-autocomplete/styles/minimal.css";

:root {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#header {
    height: 4rem;
    background-color: rgb(83, 117, 218);
    display: flex;
    align-items: center;
    justify-content: center;

}

#locationForm {
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
}

#content {
    height: calc(100vh - 5.5rem);
}

#footer {
    font-size: 1rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 235, 226);
}

.autocomplete-container {
    position: relative;
}

.geoapify-autocomplete-input {
    width: 25vw;
}